{% extends "ApplicationBundle::layout.html.twig" %}

{% block body %}
    <h1>Creer un article </h1>

<form method="post" action="">

    {{ form_start(form) }}
    {{ form_widget(form) }}

        <input type="submit" value="create">

    {{ form_end(form) }}


</form>

{% endblock %}
