{% extends "ApplicationBundle::layout.html.twig" %}

{% block body %}

    <div class="main-container">
        <div class="container">

            <h1>Liste des articles </h1>
            <a class="btn btn-primary" href="{{ path('application_create') }}" role="button">Ajouter un article</a>
            {%  for article in articles %}
                <div class="row">
                    <div class="col-md-12">
                        <h2>{{ article.title }}</h2></div>
                </div>
                <div class="row">
                    <div class="col-md-12"><h3>{{ article.subTitle }}</h3></div>
                </div>

                <div class="row" style="border-bottom: solid 1px;">
                    <div class="col-md-12">{{ article.body }}</div>
                </div>
            {%  endfor %}
        </div>
    </div>

{% endblock %}
